* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    width: 1200px;
    margin: 0 auto;
}

body {
    font-family: "Britannic Bold", sans-serif;
}

.btn {
 display: inline-block;
  padding: 14px 32px;
  
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  border-radius: 30px;
  transition: 0.3s ease;
}

.btn:hover {
    background: #b10c0c;
}


a {
    text-decoration: none;
}

li {
    list-style: none;
}

h1 {
    text-align: center;
    font-size: 70px;
    color: white;
    margin: 0 auto;
    text-transform: uppercase;
    font-weight: 600;
}

h2 {
    text-align: center;
    font-size: 30px;
    color: white;
    margin: 0 auto;
    text-transform: uppercase;
    font-weight: 600;
}

h3 {
    text-align: center;
    font-size: 30px;
    color: white;
    margin: 0 auto;
    text-transform: uppercase;
    font-weight: 600;
}

h4 {
    font-size: 24px;
    color: white;
    text-transform: uppercase;
    font-weight: 600;
}

strong {
    color: #F79300;
}

label {
    font-size: 24px;
}






